.comments {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 80px;
  h1 {
  font-weight: 600;
  font-size: 56px;
  }
  .review__item {
    display: none;
    border-radius: 16px;
    padding: 24px;
    background: #fff;
    height: 276px;
    min-width: 602px;
    &-text {
      position: relative;
      max-height: fit-content;
      padding: 10px;
      margin-bottom: 14px;
      p {
        max-width: 381px;
        color: #2C3336;
        font-size: 16px;
        line-height: 1.4;
      }
    }
    &-icon {
      background: #9C4CD0;
    }
    &-header {
      margin-bottom: 20px;
      gap: 20px;
    }
  }
  .review__item.visible {
      display: block;
  }
  .review__footer-link {
    img {
      margin-top: 0px;
    }
  }
  .btn {
    margin: 0 auto;
  }
}