

@media (max-width: 1024px) {
  .favorites {
    &-content  {
      .favorites__products.grid .product__card {
        width: calc(50% - 8px);
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .favorites {
    padding-bottom: 16px;
    &-view {
        &__btn {
            font-size: 14px;
        }
    }
    &__products {
    &.grid {
        gap: 8px;
        .product__card {
        width: 32%;
        }
    }
    &.row {
        gap: 8px;
        .product__card {
        gap: 0;
        &-content {
            flex-direction: column;
            row-gap: 8px;
            padding: 8px;
        }
        &-footer {
            margin: 0;
            width: 100%;
            gap: 8px;
        }
        &-actions {
            margin-left: auto;
            max-width: 140px;
        }
        &-image {
            width: 120px;
            height: 120px;
            padding: 16px;
        }
        }
    }
    }
  }
}

@media screen and (max-width: 570px) {
  .favorites {
    &-content {
      .favorites__products.grid {
        .product__card {
          width: calc(50% - 4px);
        }
      }
    }
  }
}

