.solutionCatalog {
  padding-bottom: 80px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  &__image {
    max-height: 283.4px;
    margin: auto;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    border-radius: 20px;
    padding: 24px;
    background: #fff;

    max-width: 602px;
    h3 {
      line-height: 1.28;
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
    &-icon {
      padding: 8px;
      border-radius: 8px;
      background: #e2e3e9;
      img {
        width: 24px;
        height: 24px;
        max-width: none;
      }
    }
    &-name {
      font-weight: 400;
      font-size: 18px;
      color: #70828a;
      white-space: nowrap;
    }
    &-value {
      font-weight: 500;
      font-size: 18px;
    }
    &-dots {
      flex: 1;
      border-bottom: 2px dotted #cdd1d2;
      margin-bottom: -10px;
    }
    &-price {
       flex: 0 0 248px;
      font-size: 24px;
      font-weight: 100;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;

      .primary-btn {
        flex: 1;
        text-align: center;
        padding: 13.5px 24px;
      }
    }
  }
  .pagger {
    padding: 0;
    button {
      background: transparent;
    }
    button, a {
      padding: 9.1px 15.2px;
      font-weight: 500;
    }
  }
}